@media (max-width: 768px){
    .seccion1{
        flex-direction: column-reverse;
        position: relative;
        margin-top: 50px;
    }
    .seccion1 .imagen{
        width: 100%;
    
    }
    .seccion1 .dialogo{
        width: 100%;
        
    }
    .seccion1 .dialogo .titulo2{
        font-size: 40px;
    }
    .seccion1 .dialogo .botones{
        justify-content: center;
    }
    .seccion1 .dialogo .rankings{
        gap: 20px;
        justify-content: center;
    }
    .seccion1 .rankings .rank1{
        position: absolute;
        top: 105px;
        left: -3px;
    }
    .seccion1 .rankings .rank2{
        position: absolute;
        top: 0;
        left: 99px;
    }
    .seccion1 .rankings .rank3{
        position: absolute;
        top: 55px;
        left: 295px;
    }
    .seccion1 .rankings h4{
        font-size: 18px;
    }
    .seccion1 .ellipse{
        top: -18%;
    }
    .seccion1 .ellipse img{
        width: 100%;      
    }
    .seccion1 .ellipse2 img{
        width: 100%;     
    }
    .seccion1 .ellipse2{
        left: 36px;
    }

    /***************    SECCION 2    ***********************/

    .seccion2{
        flex-direction: column;
    }
    .seccion2 .imagen{
        width: 100%;
        padding-bottom: 50px;
    }
    .seccion2 .imagen img{
        width: 100%;
    }
    .seccion2 .dialogo{
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }

/*********       SECCION 3       ************/

.seccion3{
    position: relative;
}
.seccion3 .parrafo1{
    text-align: start!important;
    width: 100%;
}
.seccion3 .parrafo1 p{
    font-size: 15px;
}
.seccion3 .cartas2{
    display: none;
}
.seccion3 .arrow-right-solid{
    position: absolute;
    display: block;
    top: 15px;
    right: 0px;
    width: 45px;
  }

}